form{
    width: 500px; margin: 20px auto;
}

fieldset{
    padding: 40px; border: solid 0px gray;
}

legend{
    font-size: 24px;
    text-align: center;
}

label{
    width: 100px; 
    display: inline-block ;
    text-align: right;
    padding-right: 10px;
    color: crimson;
}
input[type=text],
input[type=password]{
    width: 314px;
    height: 30px;
    margin-bottom: 15px;
    opacity: 1.8;
    
}

input[type=submit]{
    width: 150px;
    height: 30px;
    float: right;
}
input:hover[type=submit]{
background-color:#FF7F00;
}

select{
    margin-top: 20px;
    height: 30px;
}
.div{
    background-color: #E0FFFF;
    border-radius: 5px;
}